* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?sf4pa7');
    src: url('../fonts/icomoon.eot?sf4pa7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?sf4pa7') format('truetype'),
        url('../fonts/icomoon.woff?sf4pa7') format('woff'),
        url('../fonts/icomoon.svg?sf4pa7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.nav {

    position: fixed;
    z-index: 999;
    height: 45px;
    width: 100%;
    background-color: #ffffff;
    line-height: 45px;
    font-size: 12px;
}

.nav .tip {
    cursor: pointer;
    content: '';
    font-family: 'icomoon';
    margin-right: 35px;
    margin-left: 20px;
}

.nav_right {
    float: right;
    margin-right: 0;
}

.nav_right li {
    float: left;
    font-family: 'icomoon';
    margin-right: 35px;
}

.nav_right li:last-child a {
    display: block;
    text-align: center;
    width: 70px;
    height: 30px;
    transform: translate(10px, 9px);
    line-height: 30px;
    background-color: #3399ff;
    border-radius: 5px;
    color: aliceblue;
}

.nav_right .active {

    border-bottom: 3px solid #3399ff;
}

.note1 {
    height: 690px;
    /* background-color: blue; */
    padding-top: 65px;
    text-align: center;
}

.text1 h1,
h3 {
    font-weight: 400;
}

.text1 p {
    padding-top: 20px;
    color: #666666;
}

.IMGS01 {
    display: flex;
    height: 550px;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
}

.IMGS01 [class^=img] {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 290px;
    height: 465px;

}

.IMGS01 img {
    height: 100%;
}

.mask {
    position: absolute;
    z-index: 99;
    text-align: center;
    padding-top: 186px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    color: aliceblue;
}

.IMGS01 [class^=img]:hover img {
    transform: scale(1.1, 1.1);
}

.mask:hover {
    background: rgba(0, 0, 0, .6);
}

.mask h3 {
    font-size: 17px;
}

.mask p {
    font-size: 12px;
}

.IMGS01 [class^=img] a {
    display: block;
    position: absolute;
    width: 105px;
    height: 35px;
    transform: translate(85px, 130px);
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.nav .nav_bigbox {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 999;
    width: 180px;
    background-color: #ffffff;
    border-top: 3px solid rgba(0, 0, 0, .2);
    padding-left: 15px;

}

.nav_bigbox li {
    font-family: 'icomoon';
}

.nav_bigbox li:first-child {
    margin-top: 5px;
    border-radius: 25px 0 0 25px;
    background-color: #e7f2fb;
    overflow: hidden;
}

.nav_bigbox li:first-child a {
    color: #3399ff;
}

.nav_bigbox li:nth-child(5),
.nav_bigbox li:nth-child(8),
.nav_bigbox li:nth-child(13) {
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.IMGS02 {
    margin: 0 auto;
    overflow: hidden;
}

.IMGS02 .text2 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 29px;
    margin: 35px auto;
}

.IMGS02 .note2 {
    background: url(../image/05.jpg) no-repeat;
    background-size: cover;
    width: 1900px;
    height: 1200px;
    margin: 0 auto;
    background-position: center;
    color: #ffffff;

}

.IMGS02 .note2 .info {
    padding-top: 1030px;
    padding-left: 20px;
}

.IMGS02 .note2 .info h1 {

    font-weight: 400;
    font-size: 35px;
}

.IMGS02 .note2 .info p {
    font-size: 23px;
}

.info a {
    display: block;
    width: 100px;
    height: 35px;
    background-color: #3399ff;
    color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    line-height: 35px;
    text-align: center;
    margin-top: 22px;
}

.IMGS03 {
    text-align: center;
}

.IMGS03 h1 {
    margin-top: 173px;
    font-size: 60px;
}

.IMGS03 a {
    display: block;
    width: 136px;
    height: 35px;
    background-color: #3399ff;
    color: #ffffff;
    border-radius: 3px;
    line-height: 35px;
    text-align: center;
    margin-top: 22px;
    margin: 0 auto;
}

.IMGS03 .yuan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    /* background-color: pink; */
}

.IMGS03 .yuan .middle1 {
    width: 262px;
    height: 262px;
    border: 6px solid #ffffff;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    background: url(../image/06.jpg) no-repeat;
    background-size: 262px 262px;
    transition: all .4s;
    background-position: center;
}

.IMGS03 .yuan .middle2 {
    width: 262px;
    height: 262px;
    border: 6px solid #ffffff;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    background: url(../image/07.jpg) no-repeat;
    background-size: 262px 262px;
    background-position: center;

}

.IMGS03 .yuan .middle3 {
    width: 262px;
    height: 262px;
    border: 6px solid #ffffff;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    background: url(../image/08.jpg) no-repeat;
    background-size: 262px 262px;
    transition: all .4s;
    background-position: center;
}

.IMGS03 .yuan .big1 {
    position: relative;
    border: 17px solid #ffcccc;
    border-radius: 50% 50% 50% 50%;
}

.IMGS03 .yuan .big2 {
    position: relative;
    border: 17px solid #ff9966;
    border-radius: 50% 50% 50% 50%;
}

.IMGS03 .yuan .big3 {
    position: relative;
    border: 17px solid #ccffff;
    border-radius: 50% 50% 50% 50%;
}

.IMGS03 .yuan [class^=big] a {
    position: absolute;
    bottom: -20px;
    left: 105px;
    display: block;
    font-size: 12px;
    background-color: #663399;
    color: #ffffff;
    height: 35px;
    width: 50px;
    border-radius: 15px;
}

.IMGS03 .yuan .big2 a {
    background-color: #3366ff;
}

.IMGS03 .yuan [class^=big]:hover {
    transform: scale(1.1, 1.1);
}


.note4 h1 {
    display: block;
    margin: 85px auto;
    width: 280px;
    font-size: 29px;
    font-weight: 400;
}

.IMGS04 {
    position: relative;
    height: 450px;
    background-color: pink;
    color: #ffffff;
}

.IMGS05 h1 {
    display: block;
    width: 310px;
    margin: 50px auto;
    font-weight: 400;
    font-size: 29px;
}

.IMGS05 .note5 {
    border-radius: 10px;
    width: 100%;
    height: 677px;
    overflow: hidden;
}

.IMGS05 .note5 img {

    width: 100%;
}

.IMGS05 .note5 img:hover {
    transform: scale(1.1, 1.1)
}

.IMGS05 .pick {
    margin: 50px auto;
    text-align: center;
}

.IMGS05 .pick a {
    display: inline;
    margin-right: 10px;
    border: #333333 2px solid;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
}

.note6 {
    display: flex;
    height: 480px;
}

.note6 .text6 {
    flex: 1;
    font-family: 'icomoon';
    padding-left: 85px;
}

.note6 .text6 h1 {
    font-size: 30px;
    font-weight: 400;
}

.note6 .text6 p {
    font-size: 12px;
    color: #666666;
}

.note6 .text6 a {
    font-size: 12px;
    color: #3399ff;
}

.note6 .IMGS06 {
    position: relative;
    flex: 1.5;
}

.note6 .IMGS06 .pic1 {
    position: absolute;
    top: 0px;
    right: 60px;
    background: url(../image/22.jpg);
    background-size: cover;
    width: 310px;
    height: 195px;
    background-position: center;
    overflow: hidden;
}

.note6 .IMGS06 .pic1::after {
    display: block;
    float: right;
    padding: 5px 5px;
    content: '';
    font-family: 'icomoon';
    color: #ffffff;
}

.note6 .IMGS06 .pic2 {
    position: absolute;
    top: 235px;
    right: 28px;
    width: 170px;
    height: 110px;
    background: url(../image/22.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.note6 .IMGS06 .pic3 {
    position: absolute;
    top: 235px;
    right: 220px;
    width: 145px;
    height: 130px;
    background: url(../image/22.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.note6 .IMGS06 .pic4 {
    position: absolute;
    top: 25px;
    right: 400px;
    width: 210px;
    height: 315px;
    background: url(../image/22.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.note7 h1 {
    display: block;
    width: 455px;
    margin: 50px auto;
    font-size: 30px;
    font-weight: 400;
}

.note7 .IMGS07 {
    position: relative;
    height: 530px;
    /* background-color: pink; */
}

.note7 .IMGS07 .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 70px;
    background: url(../image/19.jpg) no-repeat;
    padding-top: 460px;
    padding-left: 15px;

}

.note7 .IMGS07 .img2 {
    position: absolute;
    top: 0;
    left: 450px;
    width: 440px;
    height: 40px;
    background: url(../image/20.jpg) no-repeat;
    padding-top: 215px;
    padding-left: 15px;
}

.note7 .IMGS07 .img3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 265px;
    height: 50px;
    background: url(../image/21.jpg) no-repeat;
    padding-top: 205px;
    padding-left: 15px;
}

.note7 .IMGS07 .img4 {
    position: absolute;
    bottom: 0;
    left: 450px;

    width: 265px;
    height: 50px;
    background: url(../image/22.jpg) no-repeat;
    padding-top: 205px;
    padding-left: 15px;

}

.note7 .IMGS07 .img5 {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 440px;
    height: 40px;
    background: url(../image/23.jpg) no-repeat;
    padding-top: 215px;
    padding-left: 15px;


}

.note7 .IMGS07 [class^=img] p {
    font-size: 12px;
}

.note7 .IMGS07 [class^=img] {
    color: #ffffff;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */

}

.note7 .IMGS07 [class^=img]:hover {
    background-size: 110%;

}

.note8 {
    position: relative;
    display: flex;
    margin: 75px auto;
    border-radius: 10px;
    height: 110px;
    overflow: hidden;
}

.note8 .IMGS08 {
    flex: 1;

}

.note8 .IMGS08 img {
    width: 100%;
}

.note8 .IMGS08 .mask2 {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 325px;
    height: 100%;
    background-color: rgba(51, 153, 255, .8);
}

.note8 .text8 {
    flex: 2.5;
    background-color: #3366ff;
    color: #ffffff;
    font-size: 23px;
    padding-left: 65px;
    padding-top: 30px;
}

.note8 .text8 p {
    font-size: 12px;
}

.note10 h1 {
    display: block;
    margin: 30px auto;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.note10 p {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 15px;
    color: #666666;
}

.note10 .color {
    display: flex;
    height: 455px;
    /* background-color: pink; */
    justify-content: space-between;
    align-items: center;
}

.note10 .color div {
    height: 455px;
    margin-right: 15px;
    border-radius: 5px;
}

.note10 .color .green1 {
    flex: 1;
    background: url(../image/32.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .blue {
    flex: 1;
    background: url(../image/31.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .purple {
    flex: 1;
    background: url(../image/30.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .pink {
    flex: 1;
    background: url(../image/29.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .red {
    flex: 1;
    background: url(../image/28.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .orange {
    flex: 1;
    background: url(../image/27.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .yellow {
    flex: 1;
    background: url(../image/26.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.note10 .color .green2 {
    flex: 1;
    background: url(../image/25.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 0;
    transition: all .5s;
}

.note10 .color .active {
    flex: 2;
}

.note10 .color div div {
    margin-top: 415px;
    margin-left: 15px;
    color: #ffffff;
    /* display: none; */
}

.note11 {
    text-align: center;
}

.note11 h1 {
    display: inline-block;
    margin: 30px 0;
    font-size: 30px;
    font-weight: 400;
}

.note11 .IMGS11 {
    position: relative;
    height: 645px;
    overflow: hidden;
    color: #ffffff;

}

.note11 .IMGS11 h2 {
    display: inline-block;
    margin: 60px 0 490px 0;
    font-weight: 400;
}

.mask3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.note11 .img {
    width: 100%;
    height: 100%;
    background: url(../image/33.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}

.note11 .mask3::after {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    content: '';
    font-family: 'icomoon';
    color: #ffffff;

}

.note11 a {
    display: block;
    height: 37px;
    width: 170px;
    text-align: center;
    margin: 20px auto;
    line-height: 37px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #3366ff;
    color: #ffffff;
}

.note12 h1 {
    display: block;
    width: 400px;
    text-align: center;
    margin: 30px auto;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 400;
}

.note12 .IMGS12 {
    display: flex;
    height: 175px;
    /* background-color: pink; */
    justify-content: space-between;
    align-items: center;
}

.note12 .IMGS12 [class^=img] {
    position: relative;
    width: 290px;
    height: 175px;
    border-radius: 5px;
    /* background-color: #ccffff; */
}

.note12 .IMGS12 .img1 {
    background: url(../image/34.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note12 .IMGS12 .img2 {
    background: url(../image/35.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note12 .IMGS12 .img3 {
    background: url(../image/36.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note12 .IMGS12 .img4 {
    background: url(../image/37.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note12 a {
    display: block;
    height: 37px;
    width: 150px;
    text-align: center;
    margin: 20px auto;
    line-height: 37px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #3366ff;
    color: #ffffff;
}

.note12 .IMGS12 [class^=img] .pic {
    /* position: relative; */
    position: absolute;
    bottom: 0;
    right: 40px;
    border-radius: 5px 5px 0 0;
    width: 210px;
    height: 30px;
    background-color: #ffffff;
    font-size: 10px;
    text-align: center;
    padding-top: 70px;
    color: #666666;
}

.note12 .IMGS12 [class^=img] .pic [class^=logo] {
    position: absolute;
    z-index: 9;
    top: 25px;
    right: 55px;
    width: 100px;
    height: 20px;

    /* background-color: #3399ff; */
}

.note12 .IMGS12 .logo1 {
    background: url(../image/unnamed9.jpg) no-repeat;
    background-size: 50%;
    background-position: center;
}

.note12 .IMGS12 .logo2 {
    background: url(../image/unnamed10.png) no-repeat;
    background-size: 50%;
    background-position: center;
}

.note12 .IMGS12 .logo3 {
    background: url(../image/unnamed11.jpg) no-repeat;
    background-size: 50%;
    background-position: center;
}

.note12 .IMGS12 .logo4 {
    background: url(../image/unnamed11.jpg) no-repeat;
    background-size: 50%;
    background-position: center;
}

.note13 {
    position: relative;

}

.note13 h1 {
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 400;
}


.note13 p {
    display: block;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 50px;
    font-size: 15px;
    color: #666666;
}

.note13 .Bigbox {

    height: 315px;
    /* width: 3000px; */
    margin-bottom: 100px;
    /* background-color: pink; */
    overflow: hidden;
}

.note13 .Bigbox .IMGS13 {
    display: flex;
    height: 100%;
    /* width: 3185px; */
    width: 3200px;
    /* background-color: #ccffff; */
    transition: all 1s;
}

.note13 .Bigbox .IMGS13 .img {
    position: relative;
    /* width: 390px; */
    width: 393px;
    margin-right: 10px;
    /* background-color: #666666; */
}

.note13 .Bigbox .IMGS13 .img8 {
    margin-right: 0;
}


/* .note13 .Bigbox .IMGS13:hover {
    transform: translate(-1000px, 0px);
} */

.note13 .tip1 {
    position: absolute;
    z-index: 999;
    top: 220px;
    right: -15px;
    font-family: 'icomoon';
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    line-height: 33px;
    color: #3399ff;
    display: block;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.note13 .tip2 {
    position: absolute;
    display: none;
    z-index: 999;
    top: 220px;
    left: -15px;
    font-family: 'icomoon';
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    line-height: 33px;
    color: #3399ff;
    display: block;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.note13 .Bigbox .IMGS13 [class^=pic] {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.note13 .Bigbox .IMGS13 .pic1 {
    background: url(../image/38.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic2 {
    background: url(../image/39.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic3 {
    background: url(../image/40.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic4 {
    background: url(../image/41.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic5 {
    background: url(../image/42.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic6 {
    background: url(../image/43.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic7 {
    background: url(../image/44.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .Bigbox .IMGS13 .pic8 {
    background: url(../image/45.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note13 .IMGS13 .img::after {
    position: absolute;
    /* display: block; */
    top: 240px;
    right: 10px;
    content: '';
    font-family: 'icomoon';
    color: #333333;
}

.note13 .IMGS13 .img p {
    text-align: left;
    font-size: 12px;
}

.note13 .Bigbox .IMGS13 [class^=pic]:hover {
    background-size: 110%;
}








.note15 .IMGS15 {
    position: relative;
    height: 320px;
    background: url(../image/50.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.note15 .IMGS15 h1 {
    padding-top: 90px;
    font-size: 30px;
    font-weight: 400;
}

.note15 .IMGS15 a {
    display: block;
    width: 80px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin: 50px auto;
}

.text16 {
    text-align: center;
}

.text16 h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 50px auto;
}

.text16 a {

    display: inline;
    margin-top: 15px;
    margin-right: 10px;
    border: #333333 2px solid;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
}

.note17 h1 {
    display: block;
    width: 400px;
    text-align: center;
    margin: 30px auto;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.note17 .IMGS17 {
    display: flex;
    height: 285px;
    /* background-color: pink; */
    justify-content: space-between;
    align-items: center;
}

.note17 .IMGS17 .img {
    position: relative;
    width: 295px;
    height: 285px;
    /* background-color: #3399ff; */

}

.note17 .IMGS17 .img [class^=pic] {

    width: 100%;
    height: 165px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.note17 .IMGS17 .img::after {
    position: absolute;
    /* display: block; */
    top: 180px;
    right: 10px;
    content: '';
    font-family: 'icomoon';
    color: #333333;
}

.note17 .IMGS17 .img .pic1 {
    background: url(../image/51.jpg) no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.note17 .IMGS17 .img .pic2 {
    background: url(../image/52.jpg) no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.note17 .IMGS17 .img .pic3 {
    background: url(../image/53.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -70px;
}

.note17 .IMGS17 .img .pic4 {
    background: url(../image/54.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note17 .IMGS17 .img [class^=pic]:hover {
    background-size: 110%;
}

.note17 .IMGS17 .img .pic4:hover {
    background-size: 130%;
}

.note17 .IMGS17 .img p {
    margin-top: 5px;
    font-size: 12px;
    color: #999999;
}

.note17 .IMGS17 .img {
    font-size: 15px;
}

.note24 {
    display: flex;
    height: 345px;
    margin: 100px auto;
}

.note24 .text24 {
    flex: 1;
    /* background-color: #3399ff; */
}

.note24 .img {
    width: 345px;
    /* background-color: #3366ff; */
    background: url(../image/72.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 5px;
}

.note24 .text24 h1 {
    font-size: 30px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 55px;
}

.note24 .text24 .box .logo {
    float: left;
    width: 150px;
    height: 130px;
    background: url(../image/unnamed9.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 50px;
}

.note24 .text24 .box {
    margin-left: 10px;
}

.note24 a {
    display: block;
    height: 37px;
    width: 150px;
    text-align: center;
    margin: 30px 200px;
    line-height: 37px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #3366ff;
    color: #ffffff;
}







.note25 {
    text-align: center;
    border-radius: 5px;
    overflow: hidden;

}

.note25 h1 {
    display: inline-block;
    margin: 30px 0;
    font-size: 30px;
    font-weight: 400;
}

.note25 .IMGS25 {
    position: relative;
    height: 645px;
    overflow: hidden;
    color: #ffffff;

}

.note25 .IMGS25 h2 {
    display: inline-block;
    margin: 60px 0 490px 0;
    font-weight: 400;
}


.note25 .img {
    width: 100%;
    height: 100%;
    background: url(../image/73.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -450px;
}

.note25 .mask3::after {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    content: '';
    font-family: 'icomoon';
    color: #ffffff;
}

.note25 a {
    display: block;
    height: 37px;
    width: 170px;
    text-align: center;
    margin: 50px auto;
    line-height: 37px;
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid #333333;
}

.note26 .IMGS26 {
    position: relative;
    height: 320px;
    background: url(../image/80.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.note26 .IMGS26 h1 {
    padding-top: 90px;
    font-size: 30px;
    font-weight: 400;
}

.note26 .IMGS26 a {
    display: block;
    width: 230px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin: 50px auto;
}

.note27 h1 {
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 400;
}


.note27 p {
    display: block;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 50px;
    font-size: 15px;
    color: #666666;
}

.note27 .Bigbox {

    height: 230px;
    /* width: 3000px; */
    margin-bottom: 100px;
    background-color: pink;
    /* overflow: hidden; */
}

.note27 .Bigbox .IMGS27 {
    display: flex;
    height: 100%;
    /* width: 3185px; */
    width: 2400px;
    background-color: #ccffff;
    transition: all 1s;
}

.note27 .Bigbox .IMGS27 [class^=img] {
    position: relative;
    flex: 1;
    width: 230px;
    height: 230px;
    margin-right: 10px;
    background-color: #666666;
    border-radius: 5px;
}

.note27 .Bigbox .IMGS27 .img10 {
    margin-right: 0;
}

.note27 .Bigbox .IMGS27 .img1 {
    background: url(../image/74.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img2 {
    background: url(../image/75.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img3 {
    background: url(../image/76.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img4 {
    background: url(../image/77.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img5 {
    background: url(../image/79.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img6 {
    background: url(../image/79.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img7 {
    background: url(../image/79.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img8 {
    background: url(../image/79.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img9 {
    background: url(../image/79.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 .img10 {
    background: url(../image/79.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.note27 .Bigbox .IMGS27 [class^=img]::before {
    font-family: 'icomoon';
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    line-height: 35px;
}